
.projectsBlock {
  width: 100%;
  overflow: hidden;
  position: relative;


  .projects__slider {
    margin: 0 auto;
    width: calc(100% - 60px);

    .projects__slider__container {
      overflow: hidden;
      padding-right: 10px;
      flex-basis: 320px;

      @media screen and (max-width: 750px) {
        padding-right: 0;
      }
    }
  }
}

