.image {

  transition: 0.2s ease-in-out;
  opacity: 0.75;
    border-radius: 20px;
  border : 0px solid var(--accentColor);


  &:hover {
   border : 1px solid var(--accentColor);
    transition: 0.2s ease-in-out;
    opacity: 0.85;

  }
}

.education {
  padding: 0 40px;

  @media screen and (max-width: 750px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 450px) {
    padding: 0;
  }
}
