

  .projects__slider__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--textGrayColor);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
      border: 1px solid var(--accentColor);
      transition: 0.2s ease-in-out;
    }
    //flex-basis: 320px;
    flex-shrink: 0;




    .technologies {
      width: 100%;
      padding: 8px;
      height: 85px;
      text-overflow: ellipsis;
      overflow: hidden;
      border: solid var(--textGrayColor);
      border-width: 0 0 1px 0;
      font-weight: 400;
      font-size: 16px;
      //display: flex;
      //flex-wrap: wrap;
   }

    .project__info {
      width: 100%;
      padding: 16px 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      flex-grow: 1;


      .project__description {
        height: 120px;
        overflow: hidden;

        a {
          color: var(--accentColor);

          &:hover {
            text-decoration: underline;
          }
        }
      }
      &>*:not(:last-child) {
        margin-bottom: 16px;
      }

      button {
        //cursor: pointer;
      }
    }

    .projects__image {
      min-height: 200px;
      overflow: hidden;
      a {
        width: 100%;
        height: 200px;
        display: block;
      }

      .project__link {
        height: 100%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .iconContainer {
        position: absolute;
        inset: 0;
        background: var(--bgColor);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: 50%;
          stroke-width: 3px;
        }
      }


    }
  }

  @media screen and (max-width: 750px){

    .technologies {
      min-height: 40px;
    }
    .projects__image {
      min-width: 200px;
      width: 100%;
      height: 200px;
    }
  }


  .button {
    display: flex;

    justify-content: center;
    align-items: center;


    & svg {
      margin-left: 5px;
      transition: 0.3s ease-out;
    }

    &:hover {

      svg {
        transform: translateX(5px);
      }
    }
  }


