$borderSize: 20px;
$blockSize: 380px;

.welcomeContainer {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -150px;
  position: relative;
  margin-bottom: calc(-100vh + 125px);

  @media screen and (max-width: 650px) {
    margin-top: -80px;
    margin-bottom: calc(-100vh + 200px);
  }
}

.welcomeBlock {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  filter: blur(var(--blur));

  width: 1024px;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 70px;


  @media screen and (max-width: 650px) {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 60px;
    gap: 0;
    height: calc(100vh - 60px);
  }

  &__text {
    width: calc(100% - 380px);
    @media screen and (max-width: 800px) {
      width: calc(100% - 40% - 20px);
    }

    @media screen and (max-width: 650px) {
      width: 100%;
      padding-top: 30px;
    }
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    align-items: start;

    & > h1 {
      margin-bottom: 32px;
      font-weight: 600;
      font-size: 32px;
      padding-left: 1px;

      @media screen and (max-width: 1000px) {
        min-height: 96px;
      }

      @media screen and (max-width: 650px) {
        font-size: 25px;
        min-height: 75px;
        padding-left: 0;
        margin-bottom: 10px;
      }
    }

    & > p {
      margin-bottom: 24px;
      font-size: 16px;
      //padding-right: 20px;
      font-weight: 400;
      color: var(--textGrayColor);

      @media screen and (max-width: 1000px) {
        margin-bottom: 66px;
      }

      @media screen and (max-width: 650px) {
        margin-bottom: 26px;

      }
    }

    & > a {
      width: 100%;

      .button {
        @media screen and (max-width: 650px) {
          width: 100%;
        }
      }

    }

  }

  &__photo {
    width: $blockSize;
    height: $blockSize;
    max-width: 95%;
    border: 0 solid transparent;
    transition: 0.3s ease-in-out;
    position: relative;
    padding: $borderSize;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }


    @media screen and (max-width: 800px) {
      width: 40%;
      height: auto;
    }
    @media screen and (max-width: 650px) {
      width: 90%;
    }
  }
}

$size: $blockSize + 5px;

@keyframes animate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.rotate {
  position: absolute;
  top: 0;
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto-Black', sans-serif;
  //position: relative;
  animation: animate 15s linear infinite;

  &:hover {

    .char {
      -webkit-text-stroke: 1px var(--accentLightColor);
    }
  }
}

.char {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  display: inline-block;
  font-size: $borderSize;
  line-height: 100%;
  font-weight: bold;
  //font-family: 'Playfair Display', sans-serif;
  font-family: inherit;
  -webkit-text-stroke: 1px var(--accentColor);
  transition: 0.4s ease-in-out;
  //color: var(--accentColor);
  color: transparent;
  transform-origin: 0 center;

}


