
.button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--accentLightColor);
  background-color: transparent;
  border: 1px solid var(--accentColor);
  position: relative;
  cursor: pointer;

  &>:not(:last-child) {
    margin-right: 5px;
  }
  &:hover {
    background: rgba(199, 120, 221, 0.2);
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
