
.burger__background {
  height: 100vh;
  z-index: 11;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 250px;
  width: calc(100% - 180px);
  background-color: var(--accentLightColor);

  @media screen and (max-width: 450px) {
    width: calc(100% - 50px);
  }
}


@media screen and (min-width: 650px) {
  .header__burger {
    display: none;
  }
}
.header__burger__button {
  position: absolute;
  top:  calc(15px);
  right: calc(8px);
  background-color: transparent;
  display: block;
  width: 40px;
  height: 30px;
  z-index: 23;

  &>svg>path {
    transition: stroke 0.3s ease-in-out;
    stroke: var(--accentLightColor);
  }

  &.open {
    &>svg>path {
      stroke: var(--bgColor);
    }
  }
}


.header__burger__nav {
  width: calc(100% - 180px);
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 105vh;
  background-color: transparent;
  right: 0;

  @media screen and (max-width: 450px) {
    width: calc(100% - 60px);
  }
}

.header__burger__socials {
  padding: 18px 35px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  font-size: 40px;
  color: var(--bgColor);
  a {
    opacity: 0.5;
  }

  margin-bottom: 5vh;
}

.header__burger__nav__link {
  padding: 18px 35px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;

  a {
    color: var(--bgColor);

    font-weight: bold;

  }
  z-index: 11;

  &__active {
    border-bottom: 2px solid var(--bgColor);
  }
}

.header__burger__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
