

.title {
  margin-top: 30px;
  overflow: hidden;


  @media screen and (max-width: 512px){
    flex-wrap: wrap;
  }

  display: flex;
  align-items: center;
  margin-bottom: 48px;
  &>h1 {
    -webkit-text-stroke: 0px var(--accentColor);
    transition: all 0.3s ease-out;
    padding-left: 20px;
    font-weight: 900;
    font-size: 32px;
    position: relative;
    margin-right: 15px;
    font-family: "Roboto", monospace !important;

    //&:hover {
    //  -webkit-text-stroke: 1px var(--accentColor);
    //  color: transparent;
    //}
    &::before {
      content: "#";
      font-weight: 500;
      color: var(--accentColor);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__line {
    min-width: 40px;
    flex-grow: 1;
    height: 1px;
    background: var(--accentColor);
    padding-right: 10%;
  }
  &__more {
    padding-left: 15px;
    a {
      color: var(--accentLightColor);
      white-space: nowrap;
      span {
        display: inline-block;
      }
    }
  }
}


.title__hovered {

  h1 {
    -webkit-text-stroke: 1px var(--accentColor);
    color: transparent;
    transition: all 0.2s ease-in-out;

  }
}
