
.skillsBlock {
  margin-top: 70px;
  display: flex;
  flex-direction: column;

  &__grid {
    align-self: flex-end;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 430px;

    @media screen and (max-width: 915px) {
      flex-direction: column;
      min-width: 200px;
      width: 100%;
    }

      &>.skill {
        width: 200px;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--textGrayColor);
        transition: 0.2s ease-in-out;

        &:hover {
          border-radius: 10px;
          border: 1px solid var(--accentColor);
          transition: 0.2s ease-in-out;

          &>h4 {
            color: var(--accentColor);
            transition: 0.2s ease-in-out;
          }
        }

        @media screen and (max-width: 915px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 16px;
        }

        &:not(:last-child) {
          margin-right: 16px;
        }



        &>* {
          padding: 8px;
        }

        &>h4 {

          border-bottom: 1px solid var(--textGrayColor);
          transition: 0.2s ease-in-out;
        }
      }
    }
  }


