.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  padding: 0 40px;

  @media screen and (max-width: 750px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 450px) {
    padding: 0;
  }

  & > div {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    @media screen and (max-width: 450px ){
      flex-basis: 100%;
    }
  }

}
