@import "src/scss/vars";

.header {
  margin-bottom: 70px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;

  height: 80px;
  align-items: center;
}

.header__logo {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  display: flex;

  &__reactContainer {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    margin-left: 10px;
  }

}

.header__links {
  justify-content: flex-end;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .header__links {
    display: none;
  }
}

.header__links > a {
  position: relative;
  white-space: nowrap;
}

.header__links > a::before {
  content: "#";
  font-weight: 500;
  color: #C778DD;
  position: absolute;
  top: 0;
  left: -10px;
}

.header__links > a:not(:last-child) {
  margin-right: 40px;
}

.link {
  color: #ABB2BF;
  transition: all 0.2s;

  &:hover {
    color: #FFFFFF;
    transition: all 0.2s;
    border-bottom: 1px solid white;
  }
}

.link__active {
  color: #FFFFFF;
  transition: all 0.2s;
  border-bottom: 3px solid #ffffff;

  &:hover {
    transition: all 0.2s;
    color: #FFFFFF;
  }
}


.react {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
