

.header {


  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 1024px;
  background-color: var(--bgColor);
  max-width: 95%;
  margin: 0 auto;
  z-index: 100;
  //margin-bottom: 70px;
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  justify-content: space-between;

  //height: 80px;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .header {
    width: 100%;
    padding-left: 2.5%;
    max-width: 100%;
  }

}

.header__logo {
  color: var(--accentLightColor);
  font-weight: 700;
  font-size: 30px;
  display: flex;
  font-family: 'Playfair Display', serif;


  &__reactContainer {
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  span {
    margin-left: 10px;
    font-family: 'Playfair Display', serif;

  }

}

.header__links {
  justify-content: flex-end;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  gap: 40px;
}

@media screen and (max-width: 650px) {
  .header__links {
    display: none;
  }
}

.header__links > a {
  position: relative;
  white-space: nowrap;
}

.header__links > a::before {
  content: "#";
  font-weight: 500;
  color: var(--accentColor);
  position: absolute;
  top: 0;
  left: -10px;
}



.link {
  color: var(--textGrayColor);
  transition: all 0.2s;

  &:hover {
    color: var(--accentLightColor);
    transition: all 0.2s;
    border-bottom: 1px solid var(--accentLightColor);
  }
}

.link__active {
  color: var(--accentLightColor);
  transition: all 0.2s;
  border-bottom: 3px solid var(--accentLightColor);

  &:hover {
    transition: all 0.2s;
    color: var(--accentLightColor);
  }
}


.react {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
