


.footer__borderTop {
  margin-top: 130px;
  width: 100%;
  border-top: 1px solid var(--textGrayColor);
}
.footer {
  justify-self: flex-end;
  width: 100%;
  padding: 32px 0;
  display: grid;
  grid-template-areas: "logo media"
    "copyright copyright";
  justify-content: space-between;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo;
    font-family: 'Playfair Display', serif;
    div {
      margin-right: 10px;
    }
  }
  &__media {
    display: flex;
    flex-direction: column;
    grid-area: media;

    &>h2 {
      text-align: center;
      font-size: 24px;
    }
    &__links>a{

      font-size: 30px;
      color: var(--accentColor);
      transition: .2s ease-in-out;

      &:hover {
        color: var(--accentLightColor);
        transition: .2s ease-in-out;

      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &>span {
    font-size: 16px;
    padding-top: 48px;
    display: block;
    width: 100%;
    grid-area: copyright;
    text-align: center;
  }

  @media  screen and (max-width: 450px) {
    grid-template-areas: "logo logo"
        "media media"
         "copyright copyright";

    &__media {
      margin-top: 20px;
      &>h2 {
        display: none;
        font-size: 24px;
      }
      &__links {
        display: flex;
      }
      &__links>a{
        text-align: center;
        font-size: 50px;
        width: 25%;
      }
    }
  }
}
