$speed: 0.5s;
$color: black;
.button {
  opacity: 1;
  outline: 0;
  color: var(--accentLightColor);
  line-height: 30px;
  font-size: 30px;
  height: 30px;
  position: relative;
  //letter-spacing: 1px; //?
  display: inline-block;
  //   text-transform: uppercase;

  &:hover, .flipped {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: $speed;
    position: absolute;
    // background: #adadaf;
    content: attr(data-back);
    font-family: "Roboto Condensed", monospace;
    line-height: 115%;
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    transition: $speed;
    position: relative;
    content: attr(data-front);
    font-family: 'Playfair Display', sans-serif;
    transform: translateY(0) rotateX(0);
  }
}
