

.container {
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bgColor);
  //margin-top: -200vh;
  //overflow: hidden;
  //padding-top: 105px;

  z-index: 122;
  pointer-events: none;
  //overflow: hidden;
  width: 100%;
}
.bgFirstBlock {
  position: sticky;
  top: 125px;
  bottom: 0;
  padding: 3px;
  height: calc(100vh - 50px);


  .icon {
    height: 10vh;
    width: 10vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--accentColor);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px;

    transform: scale(0.7);

    svg {


      fill: none;
      stroke: var(--accentColor);
      stroke-width: 10;

      transform: scale(0.4);
    }
  }




  @media screen and (max-width: 650px) {
    top: 50px;
  }
  //transform: translateY(-50vh);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  //background: var(--bgColor);

  .textContainer {
    opacity: 0.15;

    display: flex;
    font-size: 14vh;
    //font-size: calc((100vw / 14) * 1);
    //line-height: 14vh;
    height: 13.5vh;
    font-family: 'PPNeueMachina-Regular', sans-serif;
    text-wrap: nowrap;
    filter: blur(var(--blur, 0px));
    -webkit-text-stroke: 2px var(--accentColor);
    //text-shadow:  0px 0px 3px var(--accentColor);
    color: transparent;

    &:nth-child(1) {
      font-family: 'PPNeueMachina-Regular', sans-serif;
    }

    &:nth-child(2) {
      font-family: 'PPNeueMachina-Ultrabold', sans-serif;
    }

    &:nth-child(3) {
      //font-family: 'Roboto', sans-serif;
      font-family: "IBM Plex Sans JP", serif;
      font-weight: 400;
    }

    &:nth-child(4) {
      font-family: 'PPNeueMachina-Ultrabold-Italic', sans-serif;
    }

    &:nth-child(5) {
      font-family: 'PPNeueMachina-Inktrap-Regular', sans-serif;
    }

    &:nth-child(6) {
      font-family: "ZCOOL XiaoWei", serif;
      font-weight: 400;
      font-style: normal;
    }

    }

  .text {
    height: 14vh;

    display: flex;
    align-items: baseline;
    font-family: inherit;


    span {
      font-family: inherit;
    }


  }
}
