

.container {
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bgColor);
  //margin-top: -200vh;
  //overflow: hidden;
  //padding-top: 105px;
  z-index: 110;
  pointer-events: none;
  //overflow: hidden;
  width: 100%;

  //opacity: 0.5 !important;

}
.bgFirstBlock {
  position: sticky;
  top: 125px;
  bottom: 0;
  padding: 3px;



  @media screen and (max-width: 650px) {
    top: 100px;
  }
  //transform: translateY(-50vh);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  //background: var(--bgColor);

  .text {
    opacity: 0.15;

    display: flex;
    align-items: center;
    font-size: 14vh;
    //font-size: calc((100vw / 14) * 1);
    //line-height: 14vh;
    height: 14vh;
    font-family: 'PPNeueMachina-Regular', sans-serif;
    text-wrap: nowrap;
    filter: blur(var(--blur, 0px));
    -webkit-text-stroke: 2px var(--accentColor);
    //text-shadow:  0px 0px 3px var(--accentColor);
    color: transparent;

    &:nth-child(1) {
      font-family: 'PPNeueMachina-Regular', sans-serif;
    }

    &:nth-child(2) {
      font-family: 'PPNeueMachina-Ultrabold', sans-serif;
    }

    &:nth-child(3) {
      //font-family: 'Roboto', sans-serif;
      font-family: "IBM Plex Sans JP", serif;
      font-weight: 400;
    }

    &:nth-child(4) {
      font-family: 'PPNeueMachina-Ultrabold-Italic', sans-serif;
    }

    &:nth-child(5) {
      font-family: 'PPNeueMachina-Inktrap-Regular', sans-serif;
    }

    &:nth-child(6) {
      font-family: "ZCOOL XiaoWei", serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}
