

.changeLanguage {
  display: flex;
  gap: 10px;


  button {
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid var(--accentColor);;
    color: var(--accentLightColor);
    background-color: transparent;
    transition: .2s ease-in-out;

    &:hover {
      background-color: var(--accentLightColor);;
      border: 1px solid  var(--accentLightColor);;
      color: var(--bodyBg);
      transition: .2s ease-in-out;

      &.active {
        //background-color: $accentColor;
        border-bottom: 4px solid transparent;
      }
    }

    &.active {
      //background-color: $accentColor;
      border-bottom: 4px solid var(--accentColor);;
    }
  }

  &.inBurger {
    button {
      color: black !important;

      &:hover {
        background-color: var(--accentColor);;
        border: 1px solid  var(--accentLightColor);;
        color: black !important;
        transition: .2s ease-in-out;

        &.active {
          //background-color: $accentColor;
          border-bottom: 4px solid transparent;
        }
      }
    }
  }
}
