

.changeLanguage {
  display: flex;
  gap: 10px;


  .lang {
    --bottomOffset: 0px;
    padding: calc(3px - var(--bottomOffset)) calc(15px - var(--bottomOffset));
    border-radius: 10px;
    font-size: 14px;
    &.active {
      --bottomOffset: 1px;
      border: 2px solid var(--accentColor);;
    }
  }

  &.inBurger {
    button {
      color: var(--bgColor);
      font-size: 18px;

        &.active {
          border: 4px solid var(--accentColor);
        }

    }
  }
}
