@import "scss/vars";
@import "scss/themes";
@import "scss/nullstyle";
@import "scss/transitions";
@import "scss/fonts";

.App {
    background-color: var(--bgColor);
    min-height: 100vh;
    //font-family: 'Fira Code', monospace;
    color: var(--textGrayColor);
    scroll-behavior: smooth;
}

* {
    outline: none;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: var(--accentLightColor);
    font-family: 'Roboto', serif !important;
    letter-spacing: 2px;
}

button {
    cursor: pointer;
}
