@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

@font-face {
  font-family: 'Roboto-Black';
  src: url('/assets/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'PPNeueMachina-Light';
  src: url('/assets/fonts/PPNeueMachina-PlainLight.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Regular';
  src: url('/assets/fonts/PPNeueMachina-PlainRegular.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Ultrabold';
  src: url('/assets/fonts/PPNeueMachina-PlainUltrabold.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Light-Italic';
  src: url('/assets/fonts/PPNeueMachina-PlainLightItalic.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Regular-Italic';
  src: url('/assets/fonts/PPNeueMachina-PlainRegularItalic.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Ultrabold-Italic';
  src: url('/assets/fonts/PPNeueMachina-PlainUltraboldItalic.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Inktrap-Regular';
  src: url('/assets/fonts/PPNeueMachina-InktrapRegular.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Inktrap-Ultrabold';
  src: url('/assets/fonts/PPNeueMachina-InktrapUltrabold.otf');
}

@font-face {
  font-family: 'PPNeueMachina-Inktrap-Regular-Italic';
  src: url('/assets/fonts/PPNeueMachina-InktrapRegularItalic.otf');
}
