@import "./vars";

:root {
  --bgColor: #{$bgColorViolet};
  --accentColor: #{$accentColorViolet};
  --accentLightColor: #{$accentLightColorViolet};
  --textGrayColor: #{$textGrayColorViolet};
}

.App.green {
  --bgColor: #{$bgColorGreen};
  --accentColor: #{$accentColorGreen};
  --accentLightColor: #{$accentLightColorGreen};
  --textGrayColor: #{$textGrayColorGreen};
}

.App.greenLight {
  --bgColor: #{$bgColorGreenLight};
  --accentColor: #{$accentColorGreenLight};
  --accentLightColor: #{$accentLightColorGreenLight};
  --textGrayColor: #{$textGrayColorGreenLight};
}

.App.violet {
  --bgColor: #{$bgColorViolet};
  --accentColor: #{$accentColorViolet};
  --accentLightColor: #{$accentLightColorViolet};
  --textGrayColor: #{$textGrayColorViolet};
}

.App.violetLight {
  --bgColor: #{$bgColorVioletLight};
  --accentColor: #{$accentColorVioletLight};
  --accentLightColor: #{$accentLightColorVioletLight};
  --textGrayColor: #{$textGrayColorVioletLight};
}
