:root {
  --bgColor: #161616;
  --accentColor: #C778DD;
  --accentLightColor: #ffffff;
  --textGrayColor: #ABB2BF;
}

.App.green {
  --bgColor: #011005;
  --accentColor: #62c83a;
  --accentLightColor: #ddf1d7;
  --textGrayColor: #96bea9;
}

.App.violet {
  --bgColor: #161616;
  --accentColor: #C778DD;
  --accentLightColor: #fff3fe;
  --textGrayColor: #c3b9c4;
}
