$bgColorGreen: #011005;
$accentColorGreen: #62c83a;
$accentLightColorGreen: #ddf1d7;
$textGrayColorGreen: #96bea9;

$bgColorViolet: #161616;
$accentColorViolet: #C778DD;
$accentLightColorViolet: #fff3fe;
$textGrayColorViolet: #c3b9c4;


