$bgColorGreen: #011005;
$accentColorGreen: #62c83a;
$accentLightColorGreen: #ddf1d7;
$textGrayColorGreen: #96bea9;

$bgColorViolet: #161616;
$accentColorViolet: #C778DD;
$accentLightColorViolet: #fff3fe;
$textGrayColorViolet: #c3b9c4;

$bgColorVioletLight: #efedef;
$accentColorVioletLight: #C778DD;
$accentLightColorVioletLight: #1d191d;
$textGrayColorVioletLight: #3d3a3d;

$bgColorGreenLight: #edefee;
$accentColorGreenLight: #11bf38;
$accentLightColorGreenLight: #191d1a;
$textGrayColorGreenLight: #3a3d3c;


