@import "src/scss/vars";

.contactsBlock {
  margin-top: 70px;


  &__text {
    display: flex;
    justify-content: space-between;


    p {
      width: 50%;
    }

    @media screen and (max-width: 620px) {
      flex-direction: column;

      p {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  &__section {
    border: 1px solid $textGrayColor;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: space-between;

    h3 {
      margin-bottom: 10px;
    }

    & a:hover {
      text-decoration: underline;
    }

    & svg {
      width: 20px;
      margin-right: 10px;
    }

  }
}
