.btnContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;

  .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;

  }
}

@media screen and (max-width: 1200px) {
  .btnContainer {
    display: none;
  }
}
