
.card {
  transform-style: preserve-3d;
  position: relative;
  overflow: hidden;
  will-change: transform;

}

$size: 200px;

.shine {
  position: absolute;
  top: calc(50% - $size / 2 );
  left: calc(50% - $size / 2 );
  transform: translateX(0px) translateY(0px);
  width: $size;
  height: $size;
  background-color: var(--accentColor);
  filter: blur(180px);
  border-radius: 300px;
  opacity: 0.7;
  mix-blend-mode: soft-light;
  will-change: transform;
  z-index: -1;;
}
